@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Ranga:400,700");
body {
  font-family: "Lato", sans-serif;
  color: #313131;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase; }

h3 {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 20px;
  font-weight: 300;
  color: #6d6d6d;
  letter-spacing: 1px; }

/*|||||<<< REUSABLES  >  >  >  > ||||||*/
.white-bold-uppercase {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

.container-60 {
  max-width: 1000px; }

.section-spacer {
  margin-top: 80px; }

.section-spacer--big {
  margin-top: 110px; }

.fade-in-dark {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.6);
  width: 100%;
  height: inherit;
  color: white;
  opacity: 0;
  transition: 0.2s; }
  .fade-in-dark:hover {
    background-color: rgba(88, 88, 88, 0.6); }

.fade-in-dark:hover {
  opacity: 1;
  transition: 0.2s; }

.fade-in-dark--circle {
  border-radius: 50%; }

.clear-span::after {
  content: "";
  display: block; }

.intro-header {
  text-align: center; }

.intro-header h2 {
  font-size: 45px;
  margin: 0 0 25px 0; }

.intro-header p {
  font-size: 26px;
  margin-bottom: 45px; }

/*-------------header, first row----------------*/
header {
  background-color: #313131;
  height: 112px;
  width: 100%; }
  header nav.container .title-logo h1 {
    font-family: "Ranga", cursive;
    font-weight: 400;
    font-size: 50px;
    line-height: 112px;
    margin: 0 0 0 20px;
    letter-spacing: 2px;
    color: white;
    float: left; }
  header nav.container ul {
    list-style: none;
    display: table;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: right; }
    header nav.container ul > li {
      float: left;
      margin: 0 24px 0 0; }
    header nav.container ul > li a {
      color: white;
      font-size: 20px;
      line-height: 112px;
      letter-spacing: 2px;
      text-decoration: none;
      cursor: pointer; }
    header nav.container ul > li a:hover {
      color: #00c7e8; }

/*---------rotartor with slogan, second row--------------*/
section.rotator {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/15bece49916907.58c1c6d30e0fd.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden; }
  section.rotator .slogan-box {
    top: 190px;
    left: 50vw;
    width: 100%;
    padding: 45px;
    background-color: rgba(50, 50, 50, 0.8);
    position: relative;
    text-transform: uppercase; }
    section.rotator .slogan-box p {
      color: white;
      margin: 0 600px 0 0;
      font-size: 40px;
      font-weight: 400; }
    section.rotator .slogan-box p span {
      line-height: 55px;
      font-weight: 900; }

/*---------------features, third row---------------*/
section.container .features-container {
  line-height: 30px;
  text-align: center; }
  section.container .features-container i {
    display: inline-block;
    width: 140px;
    height: 140px;
    background-color: #313131;
    padding: 25px;
    border-radius: 20px;
    font-size: 80px;
    color: white; }
  section.container .features-container h3 {
    margin: 25px 0; }

/*------------selected works, fourth row---------------*/
section div.gallery-mosaic .row {
  height: 250px;
  overflow-y: hidden; }
  section div.gallery-mosaic .row .col-lg-2,
  section div.gallery-mosaic .row .col-lg-4 {
    padding: 0;
    margin: 0; }
  section div.gallery-mosaic .row .gm-img-container {
    overflow: hidden;
    height: inherit;
    text-align: center; }
    section div.gallery-mosaic .row .gm-img-container img {
      width: 100%;
      margin: 0 auto; }
    section div.gallery-mosaic .row .gm-img-container i {
      opacity: inherit;
      transition: 0.2s;
      background-color: #313131;
      border-radius: 8px;
      border: 14px solid #313131;
      margin: 0 14px;
      cursor: pointer; }
    section div.gallery-mosaic .row .gm-img-container .gm-img-icons {
      font-size: 25px;
      line-height: 250px; }

/*------------team, fifth row---------------*/
section.employee-section .col-lg-3,
section.employee-section .col-sm-3,
section.employee-section .col-xs-12 {
  padding: 0;
  margin: 0; }
section.employee-section .employee-img-container h3 {
  text-align: center;
  text-transform: capitalize;
  margin-top: 45px; }
section.employee-section .employee-img-container .role-desc-mobile {
  line-height: normal;
  color: #313131;
  display: none; }
section.employee-section .employee-img-container .employee-img-round {
  margin: 0 auto;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  overflow: hidden;
  position: relative; }
  section.employee-section .employee-img-container .employee-img-round p {
    color: white;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    line-height: 270px; }
  section.employee-section .employee-img-container .employee-img-round img {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    z-index: -1; }

/*-------------------- tablet info sixth row------------------*/
section.tablet-info-container {
  background-color: rgba(50, 50, 50, 0.6); }
  section.tablet-info-container .container {
    padding: 0; }
  section.tablet-info-container .row {
    margin-left: 0;
    margin-right: 0; }
  section.tablet-info-container .col-lg-7,
  section.tablet-info-container .ti-img {
    padding: 0;
    margin: 0; }
  section.tablet-info-container .ti-img {
    text-align: center;
    overflow: hidden; }
    section.tablet-info-container .ti-img img {
      width: 100%; }
  section.tablet-info-container .col-lg-7 .col-lg-4 {
    font-style: italic;
    padding-left: 25px; }
  section.tablet-info-container .col-lg-7 h2 {
    color: white;
    padding: 0;
    margin: 0 0 25px 0; }
  section.tablet-info-container .col-lg-7 p {
    color: white;
    padding: 0; }

/*-----------------followers-data, seventh row-----------------*/
section.follower-data {
  text-align: center; }
  section.follower-data .col-lg-3 h2 {
    font-size: 60px;
    margin-bottom: 0; }
  section.follower-data .col-lg-3 p {
    color: #00c7e8;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10px; }

/*----------------------contact info, eigth row---------------*/
section.contact-info-background {
  background-color: #313131; }
  section.contact-info-background .row {
    margin-top: 20px; }
  section.contact-info-background .ci-text p,
  section.contact-info-background .ci-text table {
    color: white;
    font-size: 18px; }
  section.contact-info-background .ci-text td {
    vertical-align: top;
    text-align: left;
    padding-right: 30px;
    font-weight: 300;
    letter-spacing: 1px; }
  section.contact-info-background .ci-text tr {
    height: 70px; }
  section.contact-info-background .ci-text tr > td:first-child {
    font-weight: 700; }
  section.contact-info-background .ci-text h2 {
    color: white; }
  section.contact-info-background .ci-text h2::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 25%;
    margin-right: -100%;
    margin-left: 20px;
    border-top: 2px solid white; }
  section.contact-info-background .ci-text .social-media-container .icon-btn {
    width: 45px;
    height: 45px;
    border: 0;
    color: white;
    background-color: #00c7e8;
    margin-right: 10px;
    cursor: pointer;
    font-size: 25px;
    line-height: 25px;
    transition: 0.2s; }
  section.contact-info-background .ci-text .social-media-container .icon-btn:hover {
    transform: scale(1.05);
    transition: 0.2s; }

/*------------footer----------------*/
footer {
  height: 100px;
  background-color: #252726; }
  footer p {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0; }

/*# sourceMappingURL=style.css.map */
