@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Ranga:400,700");
body {
  font-family: "Lato", sans-serif;
  color: #313131;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase; }

h3 {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 20px;
  font-weight: 300;
  color: #6d6d6d;
  letter-spacing: 1px; }

/*|||||<<< REUSABLES  >  >  >  > ||||||*/
.white-bold-uppercase {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

.container-60 {
  max-width: 1000px; }

.section-spacer {
  margin-top: 80px; }

.section-spacer--big {
  margin-top: 110px; }

.fade-in-dark {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.6);
  width: 100%;
  height: inherit;
  color: white;
  opacity: 0;
  transition: 0.2s; }
  .fade-in-dark:hover {
    background-color: rgba(88, 88, 88, 0.6); }

.fade-in-dark:hover {
  opacity: 1;
  transition: 0.2s; }

.fade-in-dark--circle {
  border-radius: 50%; }

.clear-span::after {
  content: "";
  display: block; }

.intro-header {
  text-align: center; }

.intro-header h2 {
  font-size: 45px;
  margin: 0 0 25px 0; }

.intro-header p {
  font-size: 26px;
  margin-bottom: 45px; }

@media (min-width: 768px) and (max-width: 1200px) {
  h2 {
    font-size: 26px; }

  h3 {
    font-size: 20px; }

  p {
    font-size: 16px; }

  .intro-header h2 {
    font-size: 35px;
    margin: 0 0 20px 0; }

  .intro-header p {
    font-size: 20px;
    margin-bottom: 35px;
    padding: 0 18px; }

  /*-------------header, first row----------------*/
  header {
    background-color: #313131;
    height: 112px;
    width: 100%; }
    header nav.container {
      padding: 0; }
      header nav.container > .title-logo h1 {
        font-size: 30px; }
      header nav.container ul > li {
        margin: 0 10px 0 0; }
      header nav.container ul > li a {
        font-size: 16px;
        letter-spacing: 1px; }

  /*---------------features, third row---------------*/
  section.container .row .features-container {
    line-height: 27px; }

  /*---------rotartor with slogan, second row--------------*/
  section.rotator .slogan-box p {
    margin: 0 400px 0 0;
    font-size: 30px; }

  /*------------selected works, fourth row---------------*/
  section div.gallery-mosaic .row {
    height: 170px; }
    section div.gallery-mosaic .row .gm-img-container i {
      margin: 0 4px; }
    section div.gallery-mosaic .row .gm-img-container .gm-img-icons {
      font-size: 15px;
      line-height: 170px; }

  /*------------team, fifth row---------------*/
  section.container .employee-img-container p {
    line-height: 170px; }
  section.container .employee-img-container .employee-img-round {
    margin: 0 auto;
    border-radius: 50%;
    width: 170px;
    height: 170px; }

  /*-------------------- tablet info sixth row------------------*/
  section.tablet-info-container .col-lg-7,
  section.tablet-info-container .ti-img {
    padding: 0;
    margin-bottom: 20px; }
  section.tablet-info-container div.section-spacer--big {
    margin-top: 50px; }

  /*----------------------contact info, eigth row---------------*/
  section.contact-info-background .ci-text p,
  section.contact-info-background .ci-text table {
    font-size: inherit; }
  section.contact-info-background .ci-text h2 {
    margin-bottom: 18px; }
  section.contact-info-background .ci-text h2::after {
    width: 20%; }
  section.contact-info-background .ci-text .social-media-container .icon-btn {
    margin-bottom: 14px; } }

/*# sourceMappingURL=style-1200.css.map */
